.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 108px;
  padding: 12px;
  background: var(--menu-background);
  border-top: 3px solid var(--menu-border-color);
  color: var(--menu-font-color);

  /* outline: 1px solid; */
}
.TextMessage_speaker {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 105px;
  height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: var(--menu-background);
  border-top: 3px solid var(--menu-border-color);
  border-right: 3px solid var(--menu-border-color);
  color: var(--menu-font-color);
  font-size: 36px;
}
.TextMessage_p {
  margin: 0;
  font-size: 30px;
}
.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 2px;
  bottom: 0;
}
